<section class="px-3 pb-5 w-full text-center">
	<h1 class="text-3xl font-serif">
		<span
			class="font-bold italic text-transparent bg-clip-text bg-linear-to-r from-mybca-accent to-mybca-accent-muted-dark dark:to-mybca-accent-muted"
			>myBCA</span
		>
		is the all-in-one app for BCA students
	</h1>
</section>
