---
import PlatformCard from "./PlatformCard.astro";
import iphoneScreenshot from "../../assets/screenshots/iphone-dark-main-page.png";
import androidScreenshot from "../../assets/screenshots/android-light-buses-page.png"
---

<div class="mt-4 grid grid-cols-1 md:grid-cols-2 grid-rows-3 gap-4 min-h-128">
	<PlatformCard
		rows={3}
		headingText="iOS app"
		descriptionText="Download from the App Store for bus notifications, lunch menus, and more."
		image={iphoneScreenshot}
		imageAltText="Screenshot of the myBCA main page on an iPhone."
	/>
	<PlatformCard
		rows={1}
		headingText="Web app"
		descriptionText="Access myBCA from your computer with our web app."
		targetLink="https://app.mybca.link"
	/>
	<PlatformCard
		rows={2}
		headingText="Android app"
		descriptionText="Coming soon to the Google Play Store."
		image={androidScreenshot}
		imageAltText="Screenshot of the myBCA bus page on an Android device."
	/>
</div>
