@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
	--color-mybca-dark-bg: #0a101d;
	--color-mybca-dark-bg-surface: #141d31;
	--color-mybca-dark-bg-surface-200: #1c263c;
	--color-mybca-light-bg: #fffef0;
	--color-mybca-light-bg-surface: #f4efde;
	--color-mybca-light-bg-surface-200: #e1dac4;
	--color-mybca-accent: #f3ca40;
	--color-mybca-accent-muted: #efe2b5;
	--color-mybca-accent-muted-dark: #5f4f18;
    --font-serif: 'Lora', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
