---
import LandingHeader from "../components/landing/LandingHeader.astro";
import PlatformCardGrid from "../components/landing/PlatformCardGrid.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="myBCA • the only BCA app you need" description="myBCA is the all-in-one app for students of the Bergen County Academies, with bus notifications, lunch menus, events, and more.">
	<LandingHeader />
	<section>
		<PlatformCardGrid />
	</section>
</Layout>
