<footer class="w-full text-slate-700 dark:text-slate-400 lg:mb-20 space-x-1">
	<hr class="w-full border-t border-slate-700 my-4" />
	<p>
		© 2025–2026 Thomas Torossian and myBCA contributors
	</p>
	<a href="/docs" class="underline">Support</a>
	<a href="/docs/terms" class="underline">Terms</a>
	<a href="/docs/privacy" class="underline">Privacy</a>
	<a
		href="https://orp.mybca.link/"
		target="_blank"
		rel="noopener noreferrer"
		class="underline"
	>
		Open Reporting Platform</a
	>
	<a
		href="https://github.com/mybca-app"
		target="_blank"
		rel="noopener noreferrer"
		class="underline">GitHub</a
	>
	<a
		href="https://instagram.com/usemybca"
		target="_blank"
		rel="noopener noreferrer"
		class="underline"
	>
		Instagram</a
	>
</footer>
