---
import logo from "../assets/logo.svg";
---

<header
	class="w-full text-center flex flex-col items-center justify-center py-3 mt-10 md:mt-20 mb-5"
>
	<a href="/">
		<img src={logo.src} alt="myBCA logo" class="w-20" />
	</a>
</header>
